Package: kmod-rt2800-soc
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-ca4ab6848c900973bd06ae7c1a0a61cf), kmod-rt2800-mmio, kmod-rt2800-lib
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ramips_24kec
Installed-Size: 4022
Description:  Ralink Drivers for RT2x00 cards (RT28xx/RT3xxx SoC)
